::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(32, 31, 31);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/*
    Header
*/

div#zucchini_logo > div > h1 {
    margin: 0;
}

h1 {
    font-family: 'Lato', sans-serif;
    color: rgb(146, 241, 117);
}

h3 {
    color: rgb(108, 197, 81);
    padding: 20px;
}

/*
    Content
*/

#content {
    min-height: 800px;
}

video {
    opacity: 0.2;
    z-index: -1;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

/*
    Footer
*/

footer {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

div#zucchini_copyright {
    text-align: center;
}

p {
    color: aliceblue;
}
